    <main>
        <home-header 
        (categoryClicked)="handlerCategorySelected($event)" 
        (titleClicked)="handlerTitleSelected($event)"
        title={{_title}} [categories] = "_categories()"/>
        <section class="p-5 flex justify-center flex-wrap">
            @if (_router.url =="/home/products") {
                <home-product [products]="_products()"/>
            }@else {
                <router-outlet></router-outlet>
            }
        </section>
                
    </main>


